---
import Breadcrumb from "../../components/Breadcrumb.astro"
import Page from "../../layouts/Page.astro"
import Links from "../../components/Links.astro"

const links = "abcdefghijklmnopqrstuvwxyz".split("").map((letter) => ({
  url: "/name/" + letter,
  label: letter.toUpperCase(),
}))
---

<Page title="Astrodex">
  <Breadcrumb trail={{ Name: "/name" }} />

  <h1>Pokémon by name</h1>
  <Links data={links} />
</Page>
