[data-type="normal"] {
  --swatch: #a8a77a;
}
[data-type="fire"] {
  --swatch: #ee8130;
}
[data-type="water"] {
  --swatch: #6390f0;
}
[data-type="electric"] {
  --swatch: #f7d02c;
}
[data-type="grass"] {
  --swatch: #7ac74c;
}
[data-type="ice"] {
  --swatch: #96d9d6;
}
[data-type="fighting"] {
  --swatch: #c22e28;
}
[data-type="poison"] {
  --swatch: #a33ea1;
}
[data-type="ground"] {
  --swatch: #e2bf65;
}
[data-type="flying"] {
  --swatch: #a98ff3;
}
[data-type="psychic"] {
  --swatch: #f95587;
}
[data-type="bug"] {
  --swatch: #a6b91a;
}
[data-type="rock"] {
  --swatch: #b6a136;
}
[data-type="ghost"] {
  --swatch: #735797;
}
[data-type="dragon"] {
  --swatch: #6f35fc;
}
[data-type="dark"] {
  --swatch: #705746;
}
[data-type="steel"] {
  --swatch: #b7b7ce;
}
[data-type="fairy"] {
  --swatch: #d685ad;
}
