:root {
  --color-yellow: #ffcb05;
  --color-blue: #3d7dca;
  --color-navy: #003a70;

  --wrapper-padding: max(calc(calc(100% - 30rem) / 2), 1rem);
  --font-stack: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;

  color-scheme: light dark;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: light-dark(#f3f3f3, #222);
  border: 0;
  padding: 0;
  margin: 0;
  font-family: var(--font-stack);
}

body,
dialog {
  color: light-dark(#333, #ddd);
}

body:has(dialog:open) {
  overflow: hidden;
  ::backdrop {
    background: rgba(0, 0, 0, 0.8);
  }
}

header.header {
  padding-inline: var(--wrapper-padding);
  padding-block: 0.75rem;
  margin: auto;
  background: var(--color-yellow);
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  img {
    height: 32px;
  }
}

main {
  padding-inline: var(--wrapper-padding);
}

ul,
ol {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  padding: 2rem 0;

  &:has(+ table.list) {
    padding: 2rem 0 1rem 0;
  }
}

h1,
h2 {
  margin: 0;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

a {
  color: light-dark(var(--color-blue), var(--color-yellow));
  text-underline-offset: 2px;
  &:hover {
    color: light-dark(var(--color-navy), white);
  }
}

ul.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  li a {
    background: light-dark(#eee, #333);
    display: flex;
    padding: 1rem;
    border: 1px solid light-dark(var(--color-blue), #666);
    border-radius: 4px;
    text-decoration: none;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    line-height: 1;
    transition: all 0.1s ease-out;
    font-weight: bold;
  }
  li a:hover {
    border-color: light-dark(var(--color-navy), #999);
    transform: scale(1.05);
  }
  li a:active {
    transform: scale(0.95);
  }
  &.small li a {
    font-size: 1.25rem;
  }
}

table.list {
  width: calc(100% + 2rem);
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 -1rem 20rem -1rem;
  font-size: clamp(0.75rem, 3vw, 1rem);
  thead {
    position: sticky;
    backdrop-filter: blur(10px);
    z-index: 3;
    top: 0;
  }
  thead tr th {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid light-dark(#bbb, #444);
    &:first-child {
      width: 4em;
    }
    &:nth-child(2) {
      width: max(80px, 6vw);
    }
  }

  /* tbody:hover > tr td {
    opacity: 0.6;
  } */

  tbody tr:hover {
    background: light-dark(white, #191919);
    cursor: pointer;
  }

  tbody tr td {
    overflow: visible;
    transition: background 0.1s ease-out;
    position: relative;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid light-dark(#ddd, #333);
  }

  tbody tr td > * {
    pointer-events: none;
  }

  tbody td img {
    height: 48px;
  }
}

ul.types {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.75rem;

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  span {
    display: inline-block;
    aspect-ratio: 1 / 1;
    width: 0.75rem;
    border-radius: 100%;
    transform: translateY(1px);
  }
}

nav.breadcrumbs {
  padding: 1rem 0 0 0;
  color: light-dark(#ccc, #999);
  font-size: 0.875rem;
  ol {
    margin: 0;
    padding: 0;
    display: flex;
  }
  li {
    display: flex;
  }
  a {
    display: inline-block;
  }
  li:after {
    content: "/";
    margin: 0 0.25rem;
  }
  li:last-child:after {
    content: "";
  }
}

dialog.lightbox {
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  transition: all 0.2s ease-out;
  opacity: 0;
  overflow-x: hidden;
  &[open] {
    opacity: 1;
    transform: none;
    @starting-style {
      opacity: 0;
      transform: scale(1.05);
    }
  }
  h2 {
    margin: 0;
    padding: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid light-dark(#eee, #444);
    padding: 0 0 2rem 0;
  }
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  img {
    max-width: 150%;
    min-width: 320px;
    aspect-ratio: 1 / 1;
  }
}

[data-type="normal"] {
  background: #a8a77a;
}
[data-type="fire"] {
  background: #ee8130;
}
[data-type="water"] {
  background: #6390f0;
}
[data-type="electric"] {
  background: #f7d02c;
}
[data-type="grass"] {
  background: #7ac74c;
}
[data-type="ice"] {
  background: #96d9d6;
}
[data-type="fighting"] {
  background: #c22e28;
}
[data-type="poison"] {
  background: #a33ea1;
}
[data-type="ground"] {
  background: #e2bf65;
}
[data-type="flying"] {
  background: #a98ff3;
}
[data-type="psychic"] {
  background: #f95587;
}
[data-type="bug"] {
  background: #a6b91a;
}
[data-type="rock"] {
  background: #b6a136;
}
[data-type="ghost"] {
  background: #735797;
}
[data-type="dragon"] {
  background: #6f35fc;
}
[data-type="dark"] {
  background: #705746;
}
[data-type="steel"] {
  background: #b7b7ce;
}
[data-type="fairy"] {
  background: #d685ad;
}
