@import "colors.css";
@import "page.css";
@import "table.css";
@import "dialog.css";

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@property --ca {
  syntax: "<color>";
  initial-value: #222;
  inherits: true;
}

@property --cb {
  syntax: "<color>";
  initial-value: #222;
  inherits: true;
}

:root {
  --color-yellow: #ffcb05;
  --color-blue: #3d7dca;
  --color-navy: #003a70;

  --wrapper-padding: max(calc(calc(100% - 30rem) / 2), 1rem);
  --font-stack: monospace;

  color-scheme: light dark;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: light-dark(#f3f3f3, #222);
  border: 0;
  padding: 0;
  margin: 0;
  font-family: var(--font-stack);
  min-width: 320px;
  overflow-x: hidden;
}

body,
dialog {
  color: light-dark(#333, #ddd);
}

main {
  padding-inline: var(--wrapper-padding);
}

ul,
ol {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  padding: 2rem 0;
}

h1,
h2 {
  margin: 0;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

a {
  color: light-dark(var(--color-blue), var(--color-yellow));
  text-underline-offset: 2px;
  &:hover {
    color: light-dark(var(--color-navy), white);
  }
}

[data-t1] {
  --swatch-foreground: light-dark(oklch(from var(--ca) calc(l - 0.2) c h), oklch(from var(--ca) calc(l + 0.3) c h));
}

.align-right {
  text-align: right;
}
