@import "colours.css";

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@property --ca {
  syntax: "<color>";
  initial-value: #222;
  inherits: false;
}

@property --cb {
  syntax: "<color>";
  initial-value: #222;
  inherits: false;
}

:root {
  --color-yellow: #ffcb05;
  --color-blue: #3d7dca;
  --color-navy: #003a70;

  --wrapper-padding: max(calc(calc(100% - 30rem) / 2), 1rem);
  --font-stack: monospace;
  /* --font-stack: "Source Code Pro", "Roboto Mono", monospace; */

  color-scheme: light dark;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: light-dark(#f3f3f3, #222);
  border: 0;
  padding: 0;
  margin: 0;
  font-family: var(--font-stack);
  min-width: 320px;
  overflow-x: hidden;
}

body,
dialog {
  color: light-dark(#333, #ddd);
}

body:has(dialog[open]) {
  overflow: hidden !important;
  ::backdrop {
    animation: fade 0.2s ease-out forwards;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2px);
  }
}

main {
  padding-inline: var(--wrapper-padding);
}

header.site-header {
  padding-inline: var(--wrapper-padding);
  padding-block: 0.75rem;
  margin: auto;
  background: var(--color-yellow);
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  img {
    height: 2rem;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  padding: 2rem 0;
}

h1,
h2 {
  margin: 0;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

a {
  color: light-dark(var(--color-blue), var(--color-yellow));
  text-underline-offset: 2px;
  &:hover {
    color: light-dark(var(--color-navy), white);
  }
}

header.page-header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  &:has(+ table.list) {
    h1 {
      padding: 0 0 0.5rem 0;
    }
    padding: 2rem 0 1rem 0;
  }
  span.stats {
    color: #999;
    display: block;
  }
}

ul.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  li a {
    background: light-dark(#eee, #333);
    display: flex;
    padding: 1rem;
    border: 1px solid light-dark(var(--color-blue), #666);
    border-radius: 4px;
    text-decoration: none;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    line-height: 1;
    transition: all 0.1s ease-out;
    font-weight: bold;
  }
  li a:hover {
    border-color: light-dark(var(--color-navy), #999);
    transform: scale(1.05);
  }
  li a:active {
    transform: scale(0.95);
  }
  &.small li a {
    font-size: 1rem;
  }
}

table.list {
  width: calc(100% + 2rem);
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 -1rem 20rem -1rem;
  font-size: clamp(0.75rem, 3vw, 1rem);
  thead {
    position: sticky;
    backdrop-filter: blur(10px);
    z-index: 3;
    top: 0;
  }
  thead tr th {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid light-dark(#bbb, #444);
    text-underline-offset: 2px;
    &:first-child {
      white-space: nowrap;
      width: 4em;
    }
    &:nth-child(2) {
      width: 5rem;
    }
    &:last-child {
      width: 6em;
      @media (min-width: 22.5rem) {
        width: 8rem;
      }
    }
    &:after {
      font-size: 0.75rem;
      margin-left: 0.5rem;
      display: inline-block;
      transform: translateY(-1px);
    }

    &[data-sort]:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &[data-dir="asc"]:after {
      content: "\2191";
    }
    &[data-dir="desc"]:after {
      content: "\2193";
    }
  }

  tbody tr:hover {
    background: light-dark(white, #191919);
    cursor: pointer;
  }

  tbody tr td {
    overflow: visible;
    transition: background 0.1s ease-out;
    position: relative;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid light-dark(#ddd, #333);
  }

  tbody tr td > * {
    pointer-events: none;
  }

  tbody td img {
    height: 3rem;
  }

  .pokemon-name {
    display: block;
  }
  .form-name {
    font-size: 0.75rem;
    color: #999;
  }
}

ul.types {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  font-size: 0.75rem;
  @media (min-width: 22.5rem) {
    flex-direction: column;
  }
  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  figure {
    margin: 0;
    display: inline-block;
    aspect-ratio: 1 / 1;
    width: 0.75rem;
    border-radius: 100%;
    transform: translateY(1px);
  }
  span {
    display: none;
    @media (min-width: 22.5rem) {
      display: block;
    }
  }
}

nav.breadcrumbs {
  padding: 1rem 0 0 0;
  color: light-dark(#ccc, #999);
  font-size: 0.875rem;
  ol {
    margin: 0;
    padding: 0;
    display: flex;
  }
  li {
    display: flex;
  }
  a {
    display: inline-block;
  }
  li:after {
    content: "/";
    margin: 0 0.25rem;
  }
  li:last-child:after {
    content: "";
  }
}

dialog.lightbox {
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  outline: 0;
  opacity: 0;
  border: 0;
  overflow-x: hidden;
  padding: 6px;
  background-color: light-dark(#eee, #222);
  background-image: linear-gradient(45deg, var(--cb), var(--ca));
  transform: scale(1.1);
  transition:
    all 0.2s ease-out,
    --cb 0.5s,
    --ca 0.5s;

  @media (min-width: 37.5rem) {
    padding: 12px;
  }

  &[open] {
    opacity: 1;
    transform: none;
    @starting-style {
      opacity: 0;
      transform: scale(1.1);
    }
  }

  div.container {
    border-radius: 8px;
    overflow: hidden;
    background: #222;
  }
  header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    transition: color 0.25s ease-out;
    .form-name {
      font-size: clamp(0.625rem, 3vw, 1rem);
    }
  }

  h2 {
    margin: 0;
    padding: 1rem 1rem 0 1rem;
    font-size: inherit;
    font-size: clamp(1rem, 4vw, 2rem);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  div.stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem 1rem 1rem;
  }

  picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    padding: 2rem;
  }
  img {
    height: 90vw;
    max-height: 28rem;
    max-width: 28rem;
    aspect-ratio: 1 / 1;
  }
  nav {
    padding: 1rem;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    button {
      cursor: pointer;
      color: white;
    }
  }
}

figure[data-type] {
  background: var(--bg);
}

dialog[data-type] header {
  /* background: oklch(from var(--bg) calc(l - 0.2) c h); */
  color: oklch(from var(--bg) calc(l + 0.3) c h);
}

.align-right {
  text-align: right;
}
