---
import Page from "../layouts/Page.astro"
---

<Page title="Astrodex">
  <ul>
    <li><a href="/name">Pokémon by name</a></li>
    <li><a href="/gen">Pokémon by generation</a></li>
    <li><a href="/type">Pokémon by type</a></li>
  </ul>
</Page>
