---
import Page from "../layouts/Page.astro"
---

<Page title="Astrodex">
  <h1>Pokémon Lists</h1>
  <ul class="links small">
    <li><a href="/name">By Name</a></li>
    <li><a href="/gen">By Gen</a></li>
    <li><a href="/type">By Type</a></li>
  </ul>
</Page>
