---
interface Props {
  class?: string
  data: { url: string; label: string }[]
}

const { data, class: className } = Astro.props
---

<ul class:list={["links", className]}>
  {
    data.map((link) => {
      return (
        <li>
          <a href={link.url}>{link.label}</a>
        </li>
      )
    })
  }
</ul>
