---
import type { Pokemon } from "../types"

interface Props {
  type: Pokemon["type"]
}

const { type } = Astro.props
---

<ul class="types">
  {
    type.map((t) => (
      <li>
        <span data-type={t.toLowerCase()} />
        {t}
      </li>
    ))
  }
</ul>
